body{
    background-color: white;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.contactSearch{
    width:341px;
    height: 30px;
    box-sizing: content-box;
    position: sticky;
    border-top: 1px ;
}

.container{
    width:70%;
    border : 4px solid black;
    /* background-color: wheat; */
    height: 80vh;
    overflow: hidden;
}

.container .chat_section{
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 80vh 80vh;
}

.chat_section .contact_section{
    overflow: hidden;

}

.chat_section .message_section{
    /* background-color:lightgray; */
    opacity: 0.7;

}

.all_contacts{
    height:80vh;
    overflow-y: scroll;
}

.all_contacts::-webkit-scrollbar{
    width: 6px;
    height: 10px;
}

.all_contacts::-webkit-scrollbar-button{
    height: 100px;
}

.mainContactSupportDiv{
    display:grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 60px 60px;
    padding: 6px;
    cursor: pointer;
    height: 90px;
}

.userProductImg{
    height:50px;
    width:50px;
    border-radius: 30%;
}

.userSupportDetailsBox{
    padding-left:10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.userProductLastMessage{
    color:grey;
    margin-top:5px;
}

.userSupportLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sendMessage{
    height:40px;
    padding-left: 8px;
    width:100%;
    /* margin-top: 94%; */
    background-color: white;
}

.scrollableMessage, .messageSection{
    height: 80vh; 
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.messageText{
    background-color: white;
    color: black;
    min-width: 20px;
    display: inline-block;
    padding:5px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    
}
